.game {
  height: 560px;
  width: 70px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.game img {
  height: 70px;
  width: 70px;
  padding: 0px;
  margin: 0px;
}

.game h1 {
  width: 70px;
  padding: 0px;
  margin: 0px;
}